[submodule "daemon/refs/core-rs"]
	path = daemon/refs/core-rs
	url = git@github.com:omnius-labs/core-rs
[submodule "desktop/refs/core-cs"]
	path = desktop/refs/core-cs
	url = git@github.com:omnius-labs/core-cs
