name: test-daemon-slim

on:
  workflow_dispatch:
  push:
    branches:
      - "**"
      - "!main"
      - "!release/*"
    paths:
      - "daemon/**"
      - "!daemon/docs/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: ./daemon

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:

      - name: Maximize build space (Linux)
        if: runner.os == 'Linux'
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 1024
          temp-reserve-mb: 4096
          swap-size-mb: 1024
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: restore timestamps
        uses: chetan/git-restore-mtime-action@v2

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "20.1"
          directory: ${{ runner.temp }}/llvm

      - name: Setup rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Setup cargo make
        uses: davidB/rust-cargo-make@v1
        with:
          version: latest

      - name: Setup rust cache
        uses: Swatinem/rust-cache@v2.8.0
        with:
          shared-key: "${{ matrix.os }}-test-slim"
          cache-workspace-crates: "true"
          workspaces: |
            daemon -> target

      - name: Lint
        run: cargo make lint

      - name: Test
        run: cargo test
